.container {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: rgb(220, 220, 220);
    gap: 10px;
    padding: 10px;
    justify-content: space-between;
}

.notificationButton {
    margin-left: auto;
    flex-shrink: 0;
    border: 1px;
    padding: 6px;
    cursor: pointer;
}
.iconContainer {
    flex-shrink: 0;
    cursor: pointer;
}
@media (max-width: 500px) {
    .search {
        max-width: 150px;
    }
    .searchButton {
        display: none;
    }
}
